/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/

.item {
	display: inline-block;
	max-width: 300px;
	height: 400px;
	float: left;
	margin-right: 20px;
	padding: 10px;
	background-color: #eee;
}

#timeline {
	height: 300px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

#container {
	width: 1500px;
}

.date {
	background: #333;
	color: white;
	font-size: 20px;
	padding: 5px 50px 5px 10px;
	display: inline-block;
	margin-left: -10px;
}

#right-scroll {
	float: right;
	cursor: pointer;
}




